<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </head>
<body>
<div x-data="searchApp">
    <input placeholder="Search..." x-model="query" @input.debounce.250="search"/>
    <ul>
        <template x-for="item in results">
            <li><a :href="'/inspect/' + db + '/' + item[0]" x-text="item[1]"></a></li>
        </template>
    </ul>
</div>

<script>
function searchApp() {
    return {
        query: '',
        results: [],
        db: localStorage.getItem('db_choice') || 'titles',

        search() {
            fetch(`/api/search/${this.db}?q=` + this.query)
                .then(resp => resp.json())
                .then(data => this.results = data);
        }
    }
}
</script>
</body>
</html>
